@import url("login.css");

li{
  display: table-cell; 
  position: relative;
}

body{
  background-color: #4400ff;
}

/* Fejléc */
#logo{
  flex: 1;
}

#fej{
  align-items: center;
  display: flex;
  flex: 2;
  
}

#fejlec{
  align-self: center;
  max-width: 1300;
  height: auto;
  background-color: gray;
  margin-left: 180px;
  margin-right: 180px;
  display: flex;
  position: sticky;
  top: 0;
  
  z-index: 1000;
}

#fej_tart{
  /* padding: 0;  */
  margin-top: 12px;
  list-style: none; 
  display: table;
  justify-content: space-evenly;
  flex: 2;
  text-align: center;
}

#fej_tool{
  flex: 1;
  text-align: right;
}

.fej_link{
  color: rgb(255, 123, 0);
  text-decoration: none;
  font-size: 22px;
  font-weight: bold;
  /* */
  
}

#kosar,#profil{
  max-width: 64px;
  max-height: 64px;
}

#profil:hover{
  cursor: pointer;
}


#logo_link{
  text-decoration: none;
  color: black;
}

/* Fejléc vége */

#tartalom{

  /* max-width: 1300; */
  /* height: auto; */
  margin-left: 180px;
  margin-right: 180px;
  background-color: white;
  
  /* display: flex; */
}

/* Mozgó logók */
#banner{
  padding-top: 16px;
  width: 100%;  /* Set the width of your carousel */
  overflow: hidden;  /* Hide the overflowing part */
  /* display: flex; */
  white-space: nowrap;
  align-items: center;
  margin-bottom: 24px;
}

.mozgo_logo:hover{
  cursor: pointer;
}

.logo-wrapper {
  display: inline-block;
  justify-content: space-around;
  animation: slide 20s infinite linear;

}

.logo-wrapper img {
  height: 120px;  /* Adjust the height according to your need */
  padding: 0 8px;  /* Add space between logos */
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

/* Mozgó logók vége */





/* Etxra dolgok */

.fej_link:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #e5ff00;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.fej_link:hover:after { 
  width: 100%; 
  left: 0; 
}

/* Etxra dolgok */


.sor{
  display: flex;  /* Enables flexbox */
  justify-content: space-between;  /* Distributes space evenly between divs */
  gap: 20px;  /* Adds space between divs (optional) */
  height: fit-content;
}

.doboz {
  background-color: lightblue;
  flex: 1;  /* Ensures all boxes are equal in size */
  text-align: center;
  border: 1px solid #ccc;
  height: 270px;
  width: 360px;

}


.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap:10px;
  
  /* grid-row-gap:  10px; */
  margin-bottom: -300px;
  overflow: hidden;
}



.grid-container > grid-item:nth-child(1) {
  grid-column: 1;
  grid-row: 1;
}


.grid-container > grid-item:nth-child(2) {
  grid-column: 1;
  grid-row: 1;
}


.grid-container > grid-item:nth-child(3) {
  grid-column: 1;
  grid-row: 1;
}


.grid-container > grid-item:nth-child(4) {
  grid-column: 1;
  grid-row: 1;
  height: 200px;
}

.grid-item{
  border: 1px solid black;
  transition: box-shadow 0.3s;
}
.grid-item:hover {
  box-shadow: 0 0 10px rgba(36, 36, 36, 0.5);
}  

.cipo,.cipo-p,.cipo-h3,.cipo-h5{
  padding-left: 12px;
}