@import url("login.css");

li{
  display: table-cell; 
  position: relative;
}

body{
  background-color: #4400ff;
}

/* Fejléc */
#logo{
  flex: 1;
}

#fej{
  align-items: center;
  display: flex;
  flex: 2;
}

#fej_tart{
  /* padding: 0;  */
  margin-top: 12px;
  list-style: none; 
  display: table;
  justify-content: space-evenly;
  flex: 2;
  text-align: center;
}

#fej_tool{
  flex: 1;
  text-align: right;
}

.fej_link{
  color: rgb(255, 123, 0);
  text-decoration: none;
  font-size: 22px;
  font-weight: bold;
  /* */
  
}

#kosar,#profil{
  max-width: 64px;
  max-height: 64px;
}

#profil:hover{
  cursor: pointer;
}

#fejlec{
  align-self: center;
  max-width: 1300;
  height: auto;
  background-color: gray;
  margin-left: 180px;
  margin-right: 180px;
  display: flex;
}

#logo_link{
  text-decoration: none;
  color: black;
}

/* Fejléc vége */

#tartalom{

  max-width: 1300;
  height: auto;
  margin-left: 180px;
  margin-right: 180px;
  background-color: rgb(159, 255, 239);
  
  /* display: flex; */
}

.cipo1{
  width: 65%;
  height: 65%;
}


.cipo{
  border: 2px solid red;
  /* justify-content: center; */
  height: auto;
  /* display: flex; */
}

/* Etxra dolgok */

a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #e5ff00;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a:hover:after { 
  width: 100%; 
  left: 0; 
}

/* Etxra dolgok */