@import url("fejlec.css");
@import url("tartalom.css");
@import url("cipo.css");
@import url("termekek.css");
@import url("product.css");
@import url("termek.css");



body {
	background-color: #fdf8e1;
}

#kosar {
	width: 48px;
	height: 48px;
}

/* Mozgó logók */
#logos {
	padding-top: 16px;
	width: 100%; /* Set the width of your carousel */
	overflow: hidden; /* Hide the overflowing part */
	display: flex;
	white-space: nowrap;
	align-items: center;
	margin-bottom: 24px;
}

.mozgo_logo:hover {
	cursor: pointer;
}

.logos-slide {
	display: inline-block;
	justify-content: space-around;
	animation:30s scroll infinite linear;
}

.logos-slide img {
	height: 120px; /* Adjust the height according to your need */
	padding: 0 8px; /* Add space between logos */
}

@keyframes scroll {
	from {
		transform: translateX(0%);
	}
	to {
		transform: translateX(-100%);
	}
}

/* Mozgó logók vége */
