@import url("fejlec.css");
@import url("tartalom.css");
@import url("cipo.css");
@import url("termekek.css");
@import url("product.css");
@import url("profil.css");



body {
	background-color: #fdf8e1;
}

#kosar {
	width: 48px;
	height: 48px;
}

/* Mozgó logók */
#banner {
	padding-top: 16px;
	width: 100%; /* Set the width of your carousel */
	overflow: hidden; /* Hide the overflowing part */
	/* display: flex; */
	white-space: nowrap;
	align-items: center;
	margin-bottom: 24px;
}

.mozgo_logo:hover {
	cursor: pointer;
}

.logo-wrapper {
	display: inline-block;
	justify-content: space-around;
	animation: slide 20s infinite linear;
}

.logo-wrapper img {
	height: 120px; /* Adjust the height according to your need */
	padding: 0 8px; /* Add space between logos */
}

@keyframes slide {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-70%);
	}
}

/* Mozgó logók vége */


#login{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
	z-index: 1000;
	display: none;
	position: fixed;
	top: 0;
}

#tartalom_login{
	margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
	width: 35%;
	height: 50%;
	background-color: #fdf8e1;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

#login_header{
	background-color: black;
	color: white;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	height: 50px;
	text-align: center;
	font-size: 25px;
	line-height: 50px;
	font-weight: bold;
	letter-spacing: 5px;
}

#login_form{
	display: flex;
	justify-content: center;
}

#close{
	float: right;
}

#close:hover{
	cursor: pointer;
}