#minden-cipo{
    display: flex;
}

#filter{
    /* border: 1px solid green; TESZTELÉSRE*/
    height:fit-content;
    max-width: 300px;
    flex: 1;
    padding: 20px;
    margin-left: 10%;
}

#termekek-lista{
    flex: 3;
    /* border: 1px solid black; TESZTELÉSRE */
}

#cipo-termekek{
    display: flex;
	justify-content: center;
    /* border: 2px solid red; TESZTELÉSRE*/
    padding: 1rem 1rem 4rem;
    width: 100%;
}

#minden-cipo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.meret-label{
    padding-right: 4px;
    padding-left: 2px;
}

.marka-label{
    padding-left: 4px;
}


